<h2 class="survey-title">Create Survey</h2>
<form class="form-basic" id='createSurvey'>

  <div class="form-row">
    <label>
      <span>Survey Title</span>
      <textarea name="survey[title]">
        {{#survey.survey}}
          {{this.title}}
        {{/survey.survey}}
      </textarea>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Description Text </span>
      <textarea name="survey[description]">
        {{#survey.survey}}
          {{this.description}}
        {{/survey.survey}}
      </textarea>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Survey Question</span>
      <textarea name="survey[questions][text]">
        {{#survey.survey}}
          {{#this.questions}}
            {{this.text}}
          {{/this.questions}}
        {{/survey.survey}}
      </textarea>
    </label>
  </div>

 <!-- <div class="form-row">
    <label>
      <span>Survey Type</span>
      <select name="survey[type]">
        <option>Multiple Choice</option>
        <option>Scale</option>
        <option>Text</option>
      </select>
    </label>
  </div>  -->

  <div class="form-row">
    <label>
      <span>Answer Text </span>
      <textarea name="survey[answer]"></textarea>
    </label>
  </div>

  <div class="form-row">
    <button type="submit" class="btn btn-info create-survey-submit">Take It A'vey!</button>
  </div>

</form>
