<h1>Create Your Survey</h1>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="survey">
  <form id="create-survey" role="form">
    <label for="">Survey Name:</label>
      <div class="form-group">
        <input type="text" name="surveyname" id="survey-name1" class="form-control" placeholder="enter survey name" value="">
      </div>
    <label for="">Survey Question:</label>
      <div class="form-group">
        <input type="text" name="surveyquestion" id="survey-question" class="form-control" placeholder="enter survey question" value="">
      </div>
    <div id="surveyanswers">
    <label for="">Answer One:</label>
      <div class="form-group">
        <input type="text" name="" id="answer1" class ="form-control" placeholder="1" value="">
      </div>
    <label for="">Answer Two:</label>
      <div class="form-group">
        <input type="text" name="" id="answer2" class ="form-control" placeholder="2" value="">
      </div>
    <label for="">Answer Three:</label>
      <div class="form-group">
        <input type="text" name="" id="answer3" class ="form-control" placeholder="3" value="">
      </div>
    <label for="">Answer Four:</label>
      <div class="form-group">
        <input type="text" name="" id="answer3" class ="form-control" placeholder="4" value="">
      </div>
    <label for="">Answer Five:</label>
      <div class="form-group">
        <input type="text" name="" id="answer3" class ="form-control" placeholder="5" value="">
      </div>
    </div>
    <input type="text" id="finalsurveyanswers" class="hidden" name="surveyanswers">
    <div class="form-group text-center">
      <input type="submit" id="" class="btn btn-success" value="Submit">
    </div>
    </form>
  </div>
  </div>

    </div>
    <div class="col-md-2">
    </div>
