<h1 class="survey-title">Dashboard</h1>

<form class="dashboard-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Question</th>
                <th>Type</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody id="result-list">
            <tr data-results-id="{{id}}">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </script>
    </tbody>
</table>
</form>
