  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="#">Create Survey</a></li>
      <li><a href="#">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li> <a href="#" data-toggle="modal" data-target="#Modal">Register</a></li>
      <li> <a href="#" data-toggle="modal" data-target="#Modal">Login</a></li>
      <li> <a href="#" data-toggle="modal" data-target="#Modal">Log Out</a></li>
      <li> <a href="#" data-toggle="modal" data-target="#Modal">Change Password</a></li>
    </ul>
  </div>
