<div class="container-fluid">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div>
    <ul class="nav navbar-nav navbar-right">
      <button type="button" data-toggle="modal" data-target="#Modal" class="btn btn-primary">Register</button>
      <button type="button" data-toggle="modal" data-target="#Modal" class="btn btn-primary">Login</button>
      <button type="button" data-toggle="modal" data-target="#Modal" class="btn btn-primary">Log Out</button>
      <div class="btn-group" role="group" aria-label="groung">
      </div>
      <button type="button" data-toggle="modal" data-target="#Modal" class="btn btn-primary">Change Password</button>
    </ul>
  </div>
</div>
