<h2 class="survey-title">'Vey Your Results</h2>
<form class="form-basic">
  <div class="form-row survey-result-block">
    <label>
      <span>Survey Title</span>
      <p class="right-side" name="survey[title]">
        {{#survey.survey}}
        {{this.title}}
        {{/survey.survey}}
      </p>
    </label>
  </div>

  <div class="form-row survey-result-block">
    <label>
      <span>Description Text </span>
      <p class="right-side" name="survey[description]">
        {{#survey.survey}}
        {{this.description}}
        {{/survey.survey}}
      </p>
    </label>
  </div>

  <div class="form-row survey-result-block">
    <label>
      <span>Survey Question</span>
      <p class="right-side" name="survey[questions][text]">
        {{#survey.survey}}
        {{#this.questions}}
        {{this.text}}
        {{/this.questions}}
        {{/survey.survey}}
      </p>
    </label>
  </div>


</form>
