$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'navbar';
@import 'colors';
@import 'survey-handlebars';
@import 'typography';



.homepage-content {
  margin-top: 5em;
}

footer {
  margin-bottom: 3em;
}

.footer-text {
  text-align: center;
}


.result-title {
  margin-left: 10em;
}
.result-survey-page {
  margin-left: 17em;
}
