.result-list {
  list-style-type: square;
  list-style-position:inside;
  margin: auto;
  text-align: center;
}

.list-lineheight {
  line-height: 200%;
}

.view-result {
  margin-top: 20px;
}


.form-center {
  margin-left: 5em;
}

.row-margin {
  margin-top: -4em;
}
