@import 'colors';

.loggedin-ui {
  margin-top: 5em;
}

.survey-title {
  text-align: center;
}

.right-side{
  float: right;
  font-weight: normal;
  margin-top: 12px;
}

th {
  font-size: 15px;
}

th, td, tr, .button-center {
  margin: auto;
  text-align: center;
  position: inherit;
}

.form-basic{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 700px;
  padding: 55px;
  text-align: center;
}

.form-basic .form-row{
  text-align: left;
  margin-bottom: 22px;
}

.survey-result-block {
  margin-left: 9em;
}

.result-list {
  list-style-type: square;
  list-style-position:inside;
}

.form-basic .form-row > label span{
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 25px;
  text-align: right;
  vertical-align: top;
  width: 180px;
}

.form-basic input{
  border: 1px solid $lightgrey;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 10px;
  width: 250px;
}

.form-basic textarea{
  border: 1px solid $lightgrey;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  font: normal 13px sans-serif;
  height: 50px;
  padding: 10px;
  resize: vertical;
  width: 250px;
}


.form-basic button{
  margin: 40px 183px 0;
}
