
.left-nav, h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 20px;
}
h2 {
  font-family: 'Fugaz One', cursive;
  font-size: 35px;
}

.survey-title {
  font-family: 'Fugaz One', cursive;
  font-size: 30px;
}
